body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p a {
    color: #0073e6;
    text-decoration: none;
}

header p a:hover {
    text-decoration: underline;
}

section h2 {
    color: #333;
    margin-top: 20px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

h3 {
    color: #0073e6;
}
